body {
    font-family: Arial;
    margin: 0;
    background-image: url('wp3815683.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 6px;
    text-align: center;
    background: rgb(26, 25, 25);
    color: white;
    font-size: 8px;
  
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(146, 47, 47);
    color: white;
    text-align: right;
    margin-right: 5%;
    margin-top: 1%;

 }
 .spalt {
  background-color: lightgrey;
  width: 300px;
  padding: 60px;
  margin: 100px;
  height: 500px;
  opacity: 0.5;
}
